{% load unfold i18n %}

<div class="border-b border-base-200 flex gap-3 items-center h-[65px] mb-4 dark:border-base-800 px-3 {% element_classes 'navigation_header' %}">
  <a href="{% url 'admin:index' %}" class="bg-transparent flex font-semibold gap-3 grow min-w-0 h-[64px] items-center px-1 text-inherit no-underline hover:opacity-90">
    {% if site_icon %}
      <img src="{{ site_icon }}" class="h-8 w-auto flex-shrink-0" alt="Logo" />
    {% elif site_logo %}
      <img src="{{ site_logo }}" class="h-8 w-auto flex-shrink-0" alt="Logo" />
    {% endif %}

    <div class="flex flex-col justify-center min-w-0">
      <span class="font-bold text-base text-font-important-light dark:text-font-important-dark whitespace-nowrap tracking-tight">
        {{ site_header|default:branding|default:site_title }}
      </span>
    </div>
  </a>

  <span class="material-symbols-outlined block cursor-pointer h-[18px] xl:hidden! hover:text-base-700 dark:hover:text-base-200" x-on:click="sidebarToggle()">close</span>

  {% include 'unfold/helpers/site_dropdown.html' %}
</div>
